<section id="concurso" class="concurso">
    <h3>{{ site.concursoTitle }}</h3>
    <h5>{{ site.concursoText }}</h5>
    <h6>{{ site.concursoText2 }}</h6>
    <h7>{{ site.concursoText3 }}</h7>
    <img style="display: none" class="img-square" src="{{ site.baseurl }}/img/about-section/conference.jpg" height="128" width="128">
    <br>
    <a class="btn btn-primary waves-effect waves-button waves-light waves-float" href="{{ site.concursoButtonLink }}" target="_blank">{{ site.concursoButtonText }}</a>
</section>