<!-- Begin Paticipa Section -->
<section id="participa" class="participa image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.rockstarSpeakersImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h5>{{ site.participaText }}</h5>
            <a class="btn btn-primary waves-effect waves-button waves-light waves-float" href="{{ site.participaButtonLink }}" target="_blank">{{ site.participaButtonText }}</a>
        </div>
    </div>
</section>
<!-- End Participa Section -->
