<!-- Begin Paticipa Section -->
<section id="participa" class="participa image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.rockstarSpeakersImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ site.participaTitle }} <a href="https://forms.gle/zzpwcjoENprtaKEh7" target="_blank"> Enviar propuesta</a></h3>
            <h5>{{ site.participaText }}</h5>
        </div>
    </div>
</section>
<!-- End Participa Section -->

